body {
    background-color: #D9D9D9;
    height: 100vh; 
    overflow: hidden; 
}

.quadrado-branco{
    background-color: #ffff;
    width: 1100px;
    height: 900px;
    position: absolute;
    left: 210px;
    top: 50px;
    border-radius: 18px;
    z-index: 1;
}

.verde{
    position: relative;
    top: 50px;
    left: 140px;
    background-color: #5FCB69;
    width: 600px;
    height: 700px;
    z-index: 2;
    border-radius: 18px;
}

.img{
    position: relative;
    top: -580px;
    left: 260px;
    z-index: 2;
    width: 270px;
}

.doeit{
    color: #575761;
}

/*estilo das frases suspensas*/
.carrossel {
    margin: 0px;
    padding: 0px;
    z-index: 3;
    text-align: center;
    position: relative;
    left: 0px;
    top: 350px;
}

#frase {
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.indicadores {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.indicador {
    width: 12px;
    height: 12px;
    margin: 2px;
    background-color: #575761;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.indicador.ativo {
    background-color: #333;
}

.junte-se{
    color: #ffff    ;
    position: relative;
    font-size: 11px;
    top: 520px;
    left: 340px;
    z-index: 3;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.logo{
    position: absolute;
    width: 86px;
    top: 130px;
    left: 990px;
    z-index: 2;
}

.faça-parte{
    position: absolute;
    top: 170px;
    left: 910px;
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    z-index: 2;
}

.subdoe{
    color: #5FCB69;
}

.formulario{
    position: absolute;
    left: 800px;
    top: 300px;
    z-index: 3;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.campos{
    background-color: #ECECEC;
    width: 460px;
    height: 45px;
    border: 0px;
    border-radius: 8px;
    text-indent: 15px;
}

.campos:focus {
    outline: none;
}

.campos::placeholder{
    position: relative;
}

.campos1{
    position: relative;
    top: -50px;
}

.campos2{
    position: relative;
    top: -7px;
}

.campos3{
    position: relative;
    top: 35px;
}

.campos4{
    position: relative;
    top: 82px;
}

.nome{
    position: absolute;
    top: -73px;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.email{
    position: absolute;
    top: 18px;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.password{
    position: absolute;
    top: 105px;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.password_confirmation{
    position: absolute;
    top: 197px;
    font-size: 12px;
}

.button{
    background-color: #5FCB69;
    position: relative;
    width: 150px;
    height: 40px;
    top: 100px;
    left: 165px;
    border: 0px;
    border-radius: 12px;
    color: #ffff;
}

.japossui{
    font-size: 12px;
    position: absolute;
    top: 630px;
    left: 937px;
    z-index: 2;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.login{
    color: #5FCB69;
}

.logogoogle{
    position: absolute;
    top: 675px;
    left: 1027px;
    width: 25px;
    z-index: 2;
}

/*cerurar*/
@media (max-width: 480px) {
    .formulario {
        width: 95%;
    }
    .faça-parte {
        font-size: 14px;
    }
}

/* 2. Tablet (481px - 1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
    .formulario {
        width: 70%;
        max-width: 500px;
    }
    .faça-parte {
        font-size: 18px;
    }
}

/* 3. Notebook (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1540px) {
    
}

/* 4. PC (acima de 1367px) */
@media (min-width: 1541px) {
    .quadrado-branco{
        height: 2000px;
        width: 1500px;
    }

    .verde{
        position: relative;
        top: 80px;
        width: 800px;
        height: 1000px;
    }

    .formulario{
        position: absolute;
        left: 1050px;
        top: 400px;
    }

    .campos{
        height: 60px;
        width: 550px;
        left: px;
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
    }

    .nome{
        font-size: 15px;
        position: fixed;
        top: 320px;
    }

    .email{
        font-size: 15px;
        position: fixed;
        top: 425px;
    }

    .password{
        position: fixed;
        top: 530px;
        font-size: 15px;
    }

    .password_confirmation{
        position: fixed;
        top: 635px;
        font-size: 15px;
    }

    .japossui{
        position: fixed;
        top: 800px;
        left: 1185px;
    }

    .logogoogle{
        position: fixed;
        top: 300px;
    }

    .button{
        height: 45px;
        position: fixed;
        left: 1250px;
        top: 750px;
    }
}