body {
    background-color: #D9D9D9;
    height: 100vh; 
    overflow: hidden; 
}

#carousel-text {
    font-size: 16px;
    transition: 0.5s ease-in-out;
    font-family: "Plus Jakarta Sans", serif;
    color: #ffff;
    position: fixed;
    top: 54.5%;
}

.quote {
    text-align: center; /* Centraliza o texto dentro do elemento */
    font-size: 1.2rem; /* Ajuste o tamanho da fonte se necessário */
    width: 100%; /* Garante que o elemento ocupe toda a largura disponível */
    z-index: 3;
    position: fixed;
    top: 420px;
    left: -310px;
}



/* Estiliza os indicadores (bolinhas) */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 3;
    position: relative;
    top: 56%;
}

.carousel-indicators .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb; /* Cinza claro */
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.carousel-indicators .dot.active {
    background-color: white; /* Destaca a bolinha ativa */
    width: 12px;
    height: 12px;
}


.quadrado-branco{
    background-color: #ffff;
    width: 75%;
    height: 100%;
    position: absolute;
    left: 210px;
    top: 50px;
    border-radius: 18px;
    z-index: 1;
    display: flex;
    justify-content: flex-end; /* Mantém os elementos organizados */
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.verde{
    position: relative;
    top: 50px;
    left: 140px;
    background-color: #5FCB69;
    width: 40%;
    height: 90%;
    z-index: 2;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.img{
    position: relative;
    top: -580px;
    left: 260px;
    z-index: 2;
    width: 270px;
}

.doeit{
    color: #575761;
}

/*estilo das frases suspensas*/
.carrossel {
    margin: 0px;
    padding: 0px;
    z-index: 3;
    text-align: center;
    position: relative;
    left: 0px;
    top: 350px;
}

#frase {
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.indicadores {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.indicador {
    width: 12px;
    height: 12px;
    margin: 2px;
    background-color: #575761;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.indicador.ativo {
    background-color: #333;
}

.junte-se{
    color: #ffff    ;
    position: relative;
    font-size: 11px;
    top: 65.5%;
    left: 23%;
    z-index: 3;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.logo{
    position: absolute;
    width: 86px;
    top: 130px;
    left: 66.2%;
    z-index: 2;
}

.faça-parte{
    position: absolute;
    top: 170px;
    left: 61%;
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    z-index: 2;
}

.subdoe{
    color: #5FCB69;
}

.formulario{
    position: absolute;
    left: 800px;
    top: 300px;
    z-index: 3;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.campos{
    background-color: #ECECEC;
    width: 400px;
    height: 45px;
    border: 0px;
    border-radius: 8px;
    text-indent: 15px;
}

.campos:focus {
    outline: none;
}

.campos::placeholder{
    position: relative;
}

.campos1{
    position: relative;
    left: 15%;
    top: -50px;
}

.campos2{
    position: relative;
    left: 15%;
    top: -7px;
}

.campos3{
    position: relative;
    left: 15%;
    top: 35px;
}

.campos4{
    position: relative;
    left: 15%;
    top: 82px;
}

.nome{
    position: absolute;
    left: 15%;
    top: -73px;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.email{
    position: absolute;
    left: 15%;
    top: 18px;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.password{
    position: absolute;
    left: 15%;
    top: 105px;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.password_confirmation{
    position: absolute;
    left: 15%;
    top: 197px;
    font-size: 12px;
}

.button{
    background-color: #5FCB69;
    position: relative;
    width: 150px;
    height: 40px;
    top: 100px;
    left: 42%;
    border: 0px;
    border-radius: 12px;
    color: #ffff;
}

.japossui{
    font-size: 12px;
    position: absolute;
    top: 630px;
    left: 62.3%;
    z-index: 2;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.login{
    color: #5FCB69;
}

.logogoogle{
    position: absolute;
    top: 675px;
    left: 68.3%;
    width: 18px;
    z-index: 2;
}



.olho {
    position: relative;
    left: 5%;
    top: 40px;
    right: 40px;
    transition: fill 0.3s ease;
}

.olho1 {
    position: relative;
    left: 5%;
    top: 87px;
    right: 40px;
    transition: fill 0.3s ease;
}

.olho:hover,
.olho1:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
    display: none; 
}


/* 2. Tablet (481px - 1024px) */
@media (min-width: 481px) and (max-width: 1024px) {

    body{
        background-color: white;
    }


    .faça-parte {
        font-size: 18px;
    }

    
    .formulario {
        position: fixed;
        top: 50%;
        left: 38%;
        transform: translate(-50%, -50%);

        
    }
    


    .logogoogle{
        position: fixed;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .japossui{
        position: fixed;
        top: 86%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .faça-parte{
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo{
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .verde{
        display: none;
    }

    .quadrado-branco{
        display: none;
    }

   .olho{
    position: relative;
    top: 1px;
    left: 430px;
   }
   .olho1{
    position: relative;
    top: 49px;
    left: 430px;
   }
    


   .junte-se{
    display: none;
   }

   .password_confirmation{
    position: fixed;
    top: 200px;
   }

   .campos4{
    position: fixed;
    top: 220px;
   }

   .olho1{
    position: fixed;
    top: 235px;
   }

   .button{
    position: fixed;
    top: 290px;
   }

}

/* 3. Notebook (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1540px) {
    
}

/* 4. PC (acima de 1367px) */
@media (min-width: 1541px) {
    .quadrado-branco{
        height: 2000px;
        width: 1500px;
    }

    .verde{
        position: relative;
        top: 80px;
        width: 800px;
        height: 1000px;
    }

    .formulario{
        position: absolute;
        left: 1050px;
        top: 400px;
    }

    .campos{
        height: 43px;
        width: 396px;
        left: px;
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
    }

    .nome{
        position: absolute;
        left: 15%;
        font-size: 15px;
        top: -42%;
    }

    .email{
        font-size: 15px;
        position: absolute;
        left: 15%;
        top: 8%;
        }

    .password{
        position: absolute;
        top: 55%;
        left: 15%;
        font-size: 15px;
    }

    .password_confirmation{
        position: absolute;
        left: 15%;
        top: 106%;
        font-size: 15px;
    }

    .japossui{
        position: fixed;
        top: 800px;
        left: 1220px;
    }

    .logogoogle{
        position: fixed;
        top: 300px;
    }

    .button{
        height: 40px;
        position: fixed;
        left: 1250px;
        top: 750px;
    }

    .logo{
        position: fixed;
        top: 180px;
        left: 1280px;
    }

    .faça-parte{
        position: fixed;
        top: 240px;
        left: 1200px;
    }

    .logogoogle{
        position: fixed;
        top: 860px;
        left: 1315px;
    }

    .img{
        width: 450px;
        position: fixed;
        
        top: 200px;
        left: 320px;
    }
    
    .junte-se{
        font-size: 15px;
        position: fixed;
        top: 63%;
        left: 24%;
    }

   .carrossel{
    position: relative;
    top: 500px;
    left: -5px;
   } 

   #frase {
    font-size: 24px;
}

.quote {
    text-align: center; /* Centraliza o texto dentro do elemento */
    z-index: 3;
    font-size: 1.2rem !important;
    position: absolute;
    top: 50%;
    left: -18%;
}

/* Estiliza os indicadores (bolinhas) */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 3;
    position: fixed;
    top: 60%;
    left: 30%;
}

#carosel-text{
    font-size: 24px;
}

}
